/* common shared styles*/
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: aquamarine;
}

.btn-primary{
    border-radius: 5px;
    background: aquamarine;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    
    
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: black;
}

.header{
    
    background-image: url('../images/—Pngtree—aquamarine\ color\ background\ design\ aquamarine_1229913.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}
.banner{
    padding: 30px 30px 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    width: 500px;
}
.banner .profile-pic{
    width: 800px;
}
.banner-greeting{
    font-size: 45px;
    color: darkblue;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px 50px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
} 
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 30px 150px;
}

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #fff8f3;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);

}
.skill-description{
    color: #757575;
}

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume-item-institute, .resume-item-description{
    color: #757575;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

footer{
    display: flex;
    background-color: rgb(174, 237, 237);
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-column{
    width: 50%;
}

.social-links{
    margin-right: 100px;
    
}
.contact input[type="text"], .contact input[type="email"],
textarea{
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #ffffff;
    border: 0;
    width: 100%;
}
